/* roots */
:root {
  --clr-dark-blue: 4, 4, 94;
  --clr-deep-blue: 3, 63, 136;
  --clr-medium-blue: 1, 119, 181;
  --clr-bright-blue: 0, 150, 200;
  --clr-cyan-blue: 0, 180, 215;
  --clr-light-cyan: 74, 202, 229;
  --clr-soft-sky-blue: 146, 223, 239;
  --clr-pale-blue: 174, 232, 244;
  --clr-very-light-blue: 201, 239, 248;
  --clr-poster: 118, 200, 147;
  --clr-paper: 52, 160, 164;
  --clr-dark: 0, 0, 0;
  --clr-grey: 240, 240, 240;
  --clr-light: 255, 255, 255;

  --font-size-small: clamp(0.8rem, 3vw, 1rem);
  --font-size-medium: clamp(1rem, 4vw, 1.2rem);
  --font-size-large: clamp(1.5rem, 6vw, 2rem);

  --pxrem: 16 * 1rem;
  --rem4: calc(4 / 16 * 1rem);
  --rem8: calc(8 / 16 * 1rem);
  --rem16: calc(16 / 16 * 1rem);
  --rem20: calc(20 / 16 * 1rem);
  --rem24: calc(24 / 16 * 1rem);
  --rem28: calc(28 / 16 * 1rem);
  --rem32: calc(32 / 16 * 1rem);
  --rem40: calc(40 / 16 * 1rem);
  --rem60: calc(60 / 16 * 1rem);
  --rem80: calc(80 / 16 * 1rem);
  --rem90: calc(90 / 16 * 1rem);
  --rem100: calc(100 / 16 * 1rem);
}
/* end of roots */

/* resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  height: 100dvh;
  color: rgb(var(--clr-light));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: var(--font-size-medium);

  position: relative;
}

img,
picture,
video,
svg {
  width: 100%;

  display: block;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

h1 {
  font-size: var(--font-size-large);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.card__img {
  background: rgb(var(--clr-light));
}

.card[data-type="kti"] .card__img > img {
  object-fit: contain;
}

.card__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__tag {
  padding: calc(4 / var(--pxrem)) var(--rem8);
  color: rgb(var(--clr-light));
  font-size: var(--font-size-small);
  text-transform: uppercase;
  border-radius: calc(4 / var(--pxrem));
}

.card__tag.poster {
  background: rgb(var(--clr-poster));
}

.card__tag.kti {
  background: rgb(var(--clr-paper));
}

.card__title {
  width: 100%;
  font-weight: bold;
  text-transform: capitalize;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  display: block;
}
/* end of resets */

/* nav */
nav {
  width: 100%;
  min-height: calc(60 / var(--pxrem));
  background: rgb(var(--clr-deep-blue));
  font-size: var(--font-size-medium);
  text-transform: uppercase;
  transition: all 300ms ease;

  position: fixed;
  top: 0;
  z-index: 999;
}

nav.scrolled {
  background: rgb(var(--clr-deep-blue), .8);
  backdrop-filter: blur(3px);
  border-radius: 0px 0px var(--rem8) var(--rem8);
}

nav > * {
  margin-inline: auto;
  padding: var(--rem16);
  width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  flex: 1;
  font-weight: bold;
  text-align: center;
}

.nav__links {
  color: rgb(var(--clr-grey));

  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav__items {
  cursor: pointer;
}

.nav__items:hover,
.nav__items:active,
.nav__items.active {
  color: rgb(var(--clr-light));
}

.nav__toggle {
  aspect-ratio: 1;
  width: calc(32 / var(--pxrem));
  background: inherit;
  border: 1px solid white;
  border-radius: calc(3 / var(--pxrem));
  outline: none;
  cursor: pointer;

  position: relative;
}

.nav__toggle input[type="checkbox"] {
  opacity: 0;

  position: absolute;
}

.nav__toggle .nav__hamburger {
  height: 100%;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav__toggle .bar {
  width: 60%;
  height: calc(2 / var(--pxrem));
  background: rgb(var(--clr-light));
  transition: transform 300ms ease, opacity 300ms ease;

  display: block;
}

.nav__toggle input[type="checkbox"]:checked ~ label .bar:nth-child(1) {
  transform: translateY(calc(8 / var(--pxrem))) rotate(45deg);
}

.nav__toggle input[type="checkbox"]:checked ~ label .bar:nth-child(2) {
  transform: scale(0);
}

.nav__toggle input[type="checkbox"]:checked ~ label .bar:nth-child(3) {
  transform: translateY(calc(-8 / var(--pxrem))) rotate(-45deg);
}

.top-nav .nav__links {
  display: none;
}

.bot-nav {
  margin: 0;
  padding: 0;
  width: 60vw;
  height: 100vh;
  background: rgb(var(--clr-light-cyan), .8);
  transform: translateX(100%);
  transition: transform 300ms ease;

  position: absolute;
  right: 0;
}

nav.scrolled .bot-nav {
  backdrop-filter: blur(5px);
}

.bot-nav.active {
  transform: translateX(0%);
}

.bot-nav .nav__links {
  width: 100%;
  height: 100%;

  flex-direction: column;
  gap: 0;
}

.bot-nav .nav__items {
  width: 100%;
  padding: var(--rem16) 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bot-nav .nav__items:active,
.bot-nav .nav__items.active {
  background: rgb(var(--clr-cyan-blue));
}
/* end of nav */

/* app */
.app {
  margin-top: calc(60 / var(--pxrem));
}

.app > section {
  min-height: calc(245 / var(--pxrem));
  background: rgb(var(--clr-deep-blue));
}

.app > section:not(.hero-section) {
  padding-bottom: var(--rem16);
}

.app > section:nth-child(even) {
  background: rgb(var(--clr-medium-blue));
}

.app > section > .container {
  margin-inline: auto;
  padding: var(--rem16);
  width: 90%;

  display: flex;
  flex-direction: column;
  gap: var(--rem16);
}

.section__header > h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.container__flex {
  width: 100%;
  overflow-x: auto;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: var(--rem16);

  position: relative;
}

/* hero */
.app > .hero-section {
  display: flex;
  align-items: center;

  position: relative;
}

.hero-section::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(var(--clr-deep-blue), 0.6);

  display: block;

  position: absolute;
  z-index: 2;
}

.hero-section > .hero__background {
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: absolute;
  z-index: 1;
}

.hero-section > .container {
  height: 100%;
  position: relative;
  z-index: 3;
}

.hero__content {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.hero__text {
  margin-bottom: var(--rem16);
  text-align: center;
}

.hero__text > P:nth-child(1) {
  margin-bottom: var(--rem8);
  font-weight: bold;
}

.hero__button {
  margin-inline: auto;
  padding: var(--rem8) 0;
  width: 80%;
  background: rgb(var(--clr-light-cyan));
  border: 1px solid transparent;
  border-radius: var(--rem4);
  outline: none;
  transition: transform 300ms ease, background 300ms ease;
}

.hero__button:hover,
.hero__button:active,
.card__button:hover,
.card__button:active {
  background: rgb(var(--clr-cyan-blue));
}

.hero__button:active,
.card__button:active {
  transform: scale(0.98);
}
/* end of hero */

/* popular */
.container__flex .card {
  flex: 1 0 80%;
  aspect-ratio: 3/2;
  width: 90%;
  background: rgb(var(--clr-deep-blue));
  border-radius: var(--rem8);
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  display: flex;
  flex-direction: column;

  position: relative;
}

.container__flex .card__img {
  flex: 1;
  border-radius: 0 0 var(--rem8) var(--rem8);
  overflow: hidden;
}

.container__flex .card__img > img {
  object-position: center;
}

.container__flex .card__views {
  padding: calc(4 / var(--pxrem)) var(--rem8);
  background: rgb(var(--clr-dark), 0.7);
  border-radius: calc(4 / var(--pxrem));

  position: absolute;
  top: var(--rem8);
  right: var(--rem16);
}

.container__flex .card__content {
  padding: var(--rem8) var(--rem16);

  display: flex;
  flex-direction: column;
  gap: var(--rem8);
}

.container__flex .card__info {
  color: rgb(var(--clr-grey));

  display: flex;
  align-items: center;
  gap: var(--rem8);
}

.container__flex .dot {
  aspect-ratio: 1;
  width: calc(4 / var(--pxrem));
  background: rgb(var(--clr-light));
  border-radius: 50%;

  display: block;
}

.container__flex .card__button {
  padding: var(--rem4);
  background: rgb(var(--clr-light-cyan));
  outline: none;
  border: 1px solid transparent;
  border-radius: var(--rem4)
}
/* end of popular */

/* works */
.works__search-filter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* filter */
.works__filter {
  flex: 1;
  user-select: none;

  display: flex;
  gap: var(--rem8);
}

.filter__select {
  min-width: 40%;

  position: relative;
}

.filter__selected,
.filter__items {
  padding: var(--rem4) var(--rem8);
  height: calc(32 / var(--pxrem));
  background: rgb(var(--clr-light-cyan));
  text-transform: capitalize;
  cursor: pointer;
}

.filter__selected {
  border: 1px solid transparent;
  border-radius: var(--rem4);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__select.active .filter__selected {
  border-radius: var(--rem4) var(--rem4) 0px 0px;
}

.filter__selected i {
  font-size: var(--font-size-small);
}

.filter__select.active .fa-chevron-down {
  display: none;
}

.filter__select.active .fa-xmark {
  display: inline-block;
}

.filter__selected .fa-xmark {
  display: none;
}

.filter__options {
  width: 100%;
  height: 0;
  overflow: hidden;

  position: absolute;
  z-index: 2;
}

.filter__select.active .filter__options {
  height: 100%;
  overflow: visible;
}

.filter__select.active .filter__options > *:last-child {
  border-radius: 0 0 var(--rem4) var(--rem4);
}

.filter__items.active {
  background: rgb(var(--clr-cyan-blue));
}
/* end of filter */

/* search */
.works__search {
  padding: var(--rem8);
  height: calc(32 / var(--pxrem));
  background: rgb(var(--clr-light-cyan));
  border-radius: var(--rem4);

  display: flex;
  align-items: center;
  gap: var(--rem16);
}

.works__search.active {
  padding-inline: calc(14 / var(--pxrem));
}

.works__search,
.works__search > *:not(input) {
  cursor: pointer;
}

.works__search > *:not(.fa-magnifying-glass) {
  display: none;
}

.works__search input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
}

.works__search input::placeholder {
  color: rgb(var(--clr-light));
}

.works__search.active,
.works__search.active input {
  flex: 1;
}

.works__search.active input,
.works__search.active .fa-xmark {
  display: inline-block;
}
/* end of search */
.container__grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(calc(140 / var(--pxrem)), 100%), 1fr)
  );
  gap: var(--rem8);
}

.container__grid .card {
  aspect-ratio: 3/4;
  border-radius: var(--rem4);
  overflow: hidden;
  user-select: none;
  cursor: pointer;

  position: relative;
}

.container__grid .card__img {
  width: 100%;
  height: 100%;
}

.container__grid .card__date {
  padding: var(--rem4) var(--rem8);
  background: rgb(var(--clr-dark), 0.7);
  font-size: var(--font-size-small);
  border-radius: 0px var(--rem4) var(--rem4) 0px;

  position: absolute;
  top: var(--rem8);
}

.container__grid .card__tag {
  position: absolute;
  top: var(--rem8);
  right: var(--rem8);
}

/* end of works */
/* end of app */
